body{
    margin:0;
    background-color:#1f2937;
}
.menu-container{
    display:flex;
    justify-content:center;
    width:100%;
    padding:20px;
    background-color: #1f2937;
}
.menu {
    display:flex;
    justify-content: space-between;
    width:75%;
}
.links{
    display:flex;
    justify-content:space-between;
    width:40%;
}
.section1-container{
    display:flex;
    justify-content:center;
    width:100%;
    padding:20px;
    background-color: #202938;
    height: 400px;
}
.section1{
    display:flex;
    justify-content:space-between;
    width:75%;
}
.signup-area{
    width:50%;
    padding-right:40px;

}
p{
    font-family: 'Roboto', sans-serif;
}
.hero{
    color:#f9faf8;
    font-size:48px;
    font-weight:800;
    margin-bottom:0;
}
.hero2{
    color:#e5e7eb;
    font-size:18px;
    font-weight:200;
}

.button-text{
    color:#e5e7eb;
    font-size:18px;
    font-weight:600;
}

.feature-caption{
    color:#1f2937;
    font-size:18px;
    font-weight:200;
    text-align:center;
}
.header-logo{
    font-size:24px;
    color:#f9faf8;
    font-weight:700;
}
.info-header{
    font-size:36px;
    font-weight:800;
    color:#1f2937;
}
.signup-button{
    background-color:#3882f6;
    display:flex;
    justify-content:center;
    align-items:center;
    height:40px;
    width: 130px;
    border-radius: 10px;
}
.image1{
    width:50%;
    height:300px;
    background-color: #6d747e;
    display:flex;
    justify-content:center;
    align-items:center;
}
.section2-container{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    padding:20px;
    height:400px;
    background-color: #fff;
}
.section2{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:60%;
}
.section2-header{
    width:100%;
    display:flex;
    justify-content: center;

}
.features{
    display:flex;
    justify-content:space-around;
    width:100%;

}
.feature{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    padding:20px;
}

.feature-img{
    width:100%;
    height:150px;
    border:5px solid #3882f6;
    border-radius:10px;
}

.feature-caption{
    padding:0;
}


.section3-container{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    padding:20px;
    height:400px;
    background-color: #e6e7eb;
}
.section3{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:60%;
}
.quote{
    width:100%;
    display:flex;
    justify-content: center;
}
.quote-text{
    font-size:36px;
    font-style:italic;
    font-weight:200;
    color:#1f2937;
}
.quote-author{
    display:flex;
    justify-content:flex-end;
    width:100%;

}
.quote-author-text{
    font-size:24px;
    color:#1f2937;
    font-weight:700;    
}

.section4-container{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:300px;
    padding:20px;
    background-color: #fff;
}
.section4{
    display:flex;
    justify-content:center;
    width:70%;
}
.cta-box{
    width:100%;
    background-color:#3882f6;
    display:flex;
    justify-content:space-around;
    padding:20px;
    border-radius:10px;
}
.cta-text-area{
width:50%;
}
.cta-button-area{
    background-color:#3882f6;
    display:flex;
    justify-content:center;
    align-items:center;
}
.signup-button2{
    background-color:#3882f6;
    display:flex;
    justify-content:center;
    align-items:center;
    height:40px;
    width: 130px;
    border: 3px solid #fff;
    border-radius: 10px;

}

.footer-container{
    display:flex;
    justify-content:center;
    width:100%;
    padding:20px;
    background-color: #1f2937;
}
.footer {
    display:flex;
    justify-content:center;
    width:75%;
}