body{
    margin:0;
    background-color:#1f2937;
}
.menu-container{
    display:flex;
    justify-content:center;
    width:100%;
    padding:20px;
    background-color: #1f2937;
}
.menu {
    display:flex;
    justify-content: space-between;
    border:1px solid #000;
    width:75%;
}
.links{
    border:1px solid #000;
    display:flex;
    justify-content:space-between;
    width:40%;
}
.section1-container{
    display:flex;
    justify-content:center;
    width:100%;
    padding:20px;
    background-color: #202938;
    height: 400px;
}
.section1{
    display:flex;
    justify-content:space-between;
    width:75%;
}
.signup-area{
    width:50%;
    padding-right:40px;

}
p{
    font-family: 'Roboto', sans-serif;
}
.hero{
    color:#f9faf8;
    font-size:48px;
    font-weight:800;
    margin-bottom:0;
}
.hero2{
    color:#e5e7eb;
    font-size:18px;
    font-weight:200;
}
.header-logo{
    font-size:24px;
    color:#f9faf8;
    font-weight:700;
}
.info-header{
    font-size:36px;
    font-weight:800;
    color:#1f2937;
}
.signup-button{
    background-color:#3882f6;
    display:flex;
    justify-content:center;
    align-items:center;
    height:30px;
    width: 150px;
}
.image1{
    width:50%;
    height:300px;
    background-color: #6d747e;
}
.section2-container{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    padding:20px;
    height:400px;
    background-color: #fff;
}
.section2{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:60%;
}
.section2-header{
    width:100%;
    display:flex;
    justify-content: center;
    border:1px solid #000;
}
.features{
    display:flex;
    justify-content:space-between;
    width:100%;
    border:1px solid #000;
}
.feature1, .feature2, .feature3, .feature4{
    width:150px;
    height:150px;
    border:1px solid #000;
}


.section3-container{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    padding:20px;
    height:400px;
    background-color: #e6e7eb;
}
.section3{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:60%;
    border: 1px solid #000;
}
.quote{
    width:100%;
    display:flex;
    justify-content: center;
    border:1px solid #000;
}
.quote-text{
    font-size:36px;
    font-style:italic;
    font-weight:;
    color:#1f2937;
}
.quote-author{
    display:flex;
    justify-content:flex-end;
    width:100%;
    border:1px solid #000;
}
.quote-author-text{
    font-size:24px;
    color:#1f2937;
    font-weight:700;    
}

.section4-container{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:300px;
    padding:20px;
    background-color: #fff;
}
.section4{
    display:flex;
    justify-content:center;
    width:60%;
}
.cta-box{
    width:100%;
    background-color:aqua;
    display:flex;
    justify-content:space-around;
}